[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
notebook = "*"
numpy = "==1.12"
pandas = "==0.19"
scipy = "==0.19"
xlrd = "==1.0.0"
matplotlib = "==2.0.0"
seaborn = "==0.7.1"
mplleaflet = "*"
nb-black = "*"

[requires]
python_version = "3.5"
